/** Global styling **/
* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-family: Oxygen;
}

.landing {
  color: black;
  background-attachment: fixed;
  height: 1050px;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
}
/** Nav Bar **/
.navigation {
  padding: 20px 20%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 99999;
}
  
.navigation li {
  font-size: 1em;
  text-transform: uppercase;
}

li, a, button {
  text-decoration: none;
  cursor: pointer;   
}
  
nav ul {
  list-style: none;
}
  
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
  
a {
  cursor: pointer;
}

nav ul li a {
  color: white;
}
nav ul li a:hover {
  color: #D10000;
  transition: all 0.3s ease-in-out;
}
  
button {
  text-transform: uppercase;
  font-size: 1.15em;
  background: #D10000;
  border-radius: 20px;
  border: 1px solid #D10000;
  color: white;
  padding: 3px 50px;
}
  
button:hover {
  background-color: white;
  color: #D10000;
  transition: all 0.3s ease-in-out;
}

/** Landing Content **/
.main-text {
  width: 1150px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  transform: translateY(50%);
}

.main-text h1 {
  color: black;
  font-size: 4.2em;
  padding-bottom: 20px;
}

.main-text h2 {
  line-height: 35px;
  font-size: 0.9em;
}

.important-text {
  color: #D10000;
}

.about {
  background-color: white;
  width: 100%;
  height: 500px;
}

/** Hovering animation **/
.animation {
  animation-name: hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes hover {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-10%);
  }
}